/* reset css */
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* common css */
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

/* header */
.header{
    padding: 10px 0;
    background-color: white;
}
.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__box img{
    height: 57px;
}
.header__nav-list{
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header__nav-list a{
    font-size: 15px;
    text-decoration: none;
    color: black;

}

/* END HEADER */

/* hero */
#hero{
    background-image: url("./images/herobgimage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: flex-end;
}

#hero h1{
    margin-bottom: 30px;
    font-size: 128px;
    color: rgba(174, 232, 251, 1);
}

/* discover */
#discover{
    padding: 100px 0;
    background-color: white;
}

.discover__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discover__txt{
    margin: 80px 0;
    font-size: 44px;
    max-width: 800px;
    width: 100%;
    width: 100%;
    text-align: center;
}

.btn {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 40px 0;
    text-align: center;
    max-width: 200px;
    width: 100%;
}

.btn a{
    font-size: 14px;
}

/* provide */
#provide{
    background-color: rgba(243, 233, 226, 1);
    padding: 80px 0;
}

#provide h2{
    font-size: 80px;
    max-width: 85%;
    width: 100%;
}

/* programs */
#programs{
    background-color: white;
    padding: 80px 0;
}
.program-title {
    margin-bottom: 30px;
}

.programs__cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}
.card{
    min-height: 626px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30%;
    width: 100%;
    padding: 30px;
    background-color: rgba(174, 232, 251, 1);
    border-radius: 10px;
}

.card-img{
    max-width: 100%;
    width: 100%;
}

.card-img img{
    width: 100%;
    object-fit: cover;
}

.card-txt {
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.card-txt p{
    margin: 10px 0;
}

.card.card2{
    background-color: rgba(243, 233, 226, 1);
}

/* paycheck */
.paycheck__box{
    display: flex;
    background-color: white;
}

.paycheck-left {
    max-width: 570px;
    width: 100%;
}

.paycheck-left img {
    max-width: 100%;
    width: 100%;
}

.paycheck-right {
    display: flex;
    max-width: 570px;
    width: 100%;
    background-color: rgba(243, 233, 226, 1);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.paycheck-right p{
    max-width: 371px;
    width: 100%;
    font-size: 44px;
}

/* statistics */
#statistics{
    background-color: white;
}
.statistics__box{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistics-show{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;   
}


.statistics__box h1 {
font-size: 56px;
}

.statistics__box p{
    font-size: 15px;
    margin: 10px 0;
    max-width: 166px;
    width: 100%;
    text-align: center;
}


.statistics-clients, .statistics-women, .statistics-salaryincrease{
    display: flex;
    flex-direction: column;
    width: 410px;
    align-items: center;
    height: 146px;
    margin-top: 10px;
}

.statistics-women{
    border-left: 1px solid black;
    border-right: 1px solid black;
} 


.statistics-top{
    height: 18px;
    max-width: 300px; 
    width: 100%;
    margin-top: 70px;
    text-align: center;
    margin-top: 50px;
}

/* text animation */
#animation{
    background-color: white;
}

.text-animation{
    display: flex;
    align-items: center;
    background-color: rgba(243, 233, 226, 1);
    position: relative;
    height: 208px;
    justify-content: flex-start;
    overflow: hidden;
    white-space: nowrap;
}

.text-animation h1{
    position: absolute;
    width: auto;
    text-align: center;
    font-size: 75px;
    padding: 0 90px;
    letter-spacing: 1px;
    transform: translateX(100%);
    animation: move-rtl 10s linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%)
    }
}

/* free resources */
#freeresources{
    background-color: white;
    padding: 80px 0;
}

.resources__box h2{
    margin: 20px 0;
}

.resources-cards{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.quiz-card, .training-card, .salarycource-card{
    max-width: 400px;
    width: 100%;
    min-height: 355px;
    border-radius: 10px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.quiz-card{
    background-color: rgba(174, 232, 251, 1);
    
}

.training-card{
    background-color: rgba(243, 233, 226, 1);
    color: rgba(255, 59, 65, 1);
    
}

.salarycource-card{
    background-color: rgba(255, 59, 65, 1);
    color: rgba(243, 233, 226, 1);
}

.resources-cards h1{
    font-size: 58px;
    margin: 20px 0;
}

.resources-cards p{
    max-width: 320px;
    width: 100%;
    margin: 30px 0;
}

.salarycource-card p{
    max-width: 320px;
    width: 100%;
    margin: 8px 0;
}
.resources-cards .btn {
    position: absolute;
    right: 6%;
    bottom: -6%;
    max-width: 141px;
    width: 100%;
}

.training-card .btn {
    border-color: rgba(255, 59, 65, 1);
}
.training-card a{
    color: rgba(255, 59, 65, 1);
}

.salarycource-card .btn{
    border-color: rgba(243, 233, 226, 1);
}

.salarycource-card a{
    color: rgba(243, 233, 226, 1);
}

/* bosola */
#bosola{
    background-color: white;
    padding: 100px 0 0 0;
}

.bosola__box{
    height: 525px;
    background-color: rgba(243, 233, 226, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bosola__box h3{
    margin: 40px 0;
}

.bosola__box p{
    font-size: 44px;
    width: 671px;
}

.bosola__box h5{
    margin: 10px 0;
}

.circles{
    display: flex;
    justify-content: space-between;
}

.circle i{
    font-size: 15px;
}

.solid i{
   font-size: 9px;
   transform: translateX(-14%);
}

/* image */
.image__box{
    height: 100vh;
    background-image: url("./images/IMAGE.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* transformation */
#transformation{
    background-color: white;
    padding: 150px 0;
}

.transformation__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.transformation__box h1{
    font-size: 80px;
    width: 714px;
    margin: 30px 0;
}

.transformation__box p{
    font-size: 44px;
    width: 897px;
    margin-bottom: 20px;
}

/* footer */
#footer {
    min-height: 571px;
    width: 100%;
    background-color: rgba(243, 233, 226, 1);
  }
  .footer__box {
    height: 100%;
  }
  
  .footer-top {
    width: 90%;
    margin: 0 auto;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-top h1 {
    padding: 0 0 60px 0;
  }
  
  .footer-list {
    width: 200px;
    margin-right: 90px;
    list-style: none;
  }
  
  .footer-list-item a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  
  .copyright {
    width: 90%;
  
    display: flex;
    justify-content: flex-end;
  }
  
  .copyright p {
    display: block;
    bottom: 10%;
  }
  

/* responsive */
@media (min-width: 1400px ){
    .container{
        max-width: 1320px;
    }

    .programs__cards, .resources-cards{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px ){
    .container{
        max-width: 960px;
    }
}

@media (max-width: 992px ){
    .container{
        max-width: 720px;
    }
    .header__nav-list a{
        font-size: 11px;
    }
    #hero h1{
        font-size: 90px;
    }
    .discover__txt{
        font-size: 30px;
    }
   #provide h2{
    font-size: 50px;
   }
   .card{
    max-width: 46%;
   }
   .card-txt p{
    font-size: 13px;
   }
   .paycheck-right p{
    font-size: 25px;
    padding: 0 15px;
   }

   
}

@media (max-width: 768px ) {
    .container{
        max-width: 540px;
    }
    #hero{
        background-position: center;
    }
    .image__box{
        background-position: center;
    }
    .bosola__box p, .transformation__box p, .transformation__box h1{
        max-width: 98%;
        width: 100%;
    }

    .transformation__box h1{
        font-size: 40px;
    }
    .transformation__box p{
        font-size: 20px;
    }
}

@media (max-width: 576px ){
    .container{
        max-width: 100%;
    }
    .programs__cards{
        flex-direction: column;
    }
    .header__nav-list a{
        font-size: 9px;
    }
    #hero h1{
        font-size: 70px;
    }
    .discover__txt{
        font-size: 20px;
    }
    #provide h2{
        font-size: 30px;
        padding: 0 12px;
    }
    .card{
        height: auto;
        max-width: 100%;
    }
    .paycheck-right p{
        padding: 50px 0;
        display: flex;
        align-items: center;
    }
    .paycheck__box{
        display: flex;
        flex-direction: column;
    }
    .statistics-women{
        border: none;
    }

    .quiz-card, .training-card, .salarycource-card{
        max-width: 100%;
    }

    .bosola__box p{
        font-size: 35px;
    }
   
}